body {
    background: #2b2b2b;
}

.t-project {
    margin-bottom: 50px;
    margin-top: 115px;
}

.main-block {
    display: flex;
    flex-direction: column;
}

.main-block a,
.main-block a {
    margin-bottom: 15px;
}

.main-block img:last-child {
    margin-bottom: 0;
}

.box-logo {}

.box-logo a {
    color: #957B5F;
    text-decoration: inherit;
}

.main-block img:hover {
    background-color: #2b2b2b;
    opacity: 0.3;
    animation-duration: 1ms;
    position: relative;
    z-index: 1;
}

.main-block a:hover {
    position: relative;
    opacity: 1;
}

.main-block a:hover::before {
    content: "";
    color: white;
    position: absolute;
    opacity: 1;
    left: 45%;
    top: 45%;
    z-index: 99;
    font-family: 'Pacifico', sans-serif;
    font-weight: 600;
    font-size: 102px;
}

.main-block a:nth-child(1):hover::before {
    content: "0 1";
}

.main-block a:nth-child(2):hover::before {
    content: "0 2";
}

.main-block a:nth-child(3):hover::before {
    content: "0 3";
}

.main-block a:nth-child(4):hover::before {
    content: "0 4";
}

.main-block a:nth-child(5):hover::before {
    content: "0 5";
}

.main-block a:nth-child(6):hover::before {
    content: "06";
}