body {
    margin: 0;
    background-image: url("background.png");
    background-size: cover;
    width: auto;
    height: auto;
    min-width: fit-content;
    background-attachment: fixed;
}

.header {
    background-attachment: fixed;
    

}

.container {
    width: 980px;
    margin-left: auto;
    margin-right: auto;



}