body {
    margin: 0;
    background-image: url("background.png");
    background-size: cover;
    width: auto;
    height: auto;
    min-width: fit-content;
    background-attachment: fixed;
}

.header {
    background-attachment: fixed;
    width: 980px;
    height: 120px;
    margin-left:320px;
}

.container {
    display:flex;
    flex-direction: row;
    text-transform: uppercase;
}
.container div{margin-right: 30px;}
.menu{
    display:flex;
    margin: 10px;
    margin-top:auto;
    margin-bottom: auto;
}
.menu ul{
    display:flex;
    list-style-type:none;
    color: #808080;
    font-size: 15px;
    text-transform: uppercase;


}
.menu li{
    margin-right: 40px;
}
.header-text{
    font-family: Open-Sans, sans-serif;
    color: #957B5F;
    font-size: 22px;
}
.box-logo{
    color:#957B5F;
    font-size: 22px; 
}
.background{
    background-color: #2b2b2b;
    margin-top: 760px;
    height: 2270px;
    width:auto;
}
.favorite-projects{
    margin-top: 760px;
    height: 2270px;
    width: 980px;
    margin:760px 320px 0 320px;

}