body {
    margin:0;
    background-image: url("background.png");
    background-position: 0px -30px;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: fit-content;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    
}

.header {
    display: flex;
    background-attachment: fixed;
    height: 120px;
    margin-left:auto;
    margin-right: auto;
    
}

.active a {
    color:#957B5F;
    
}

.container {
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;
}

.container div{
    margin-right: 30px;
}

.menu{
    display:flex;
    margin-left: auto;
    margin-top:auto;
    margin-bottom: auto;
    display:flex;
    list-style-type:none;
    color: #808080;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

main {
    background-color: #2b2b2b;
}

.menu li{
    margin-right: 40px;
}

.menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: #957B5F;
    
}

.header-text{
    color: #957B5F;
    font-size: 22px;
}
.box-logo{
    display: block;
    border: solid #957B5F 3px;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color:#957B5F;
    font-size: 22px; 
}
.box-logo p{
    position: relative;
    top: -10px;
    right: auto;
    font-weight: bold;
}
.header-text{
    margin-top: auto;
    margin-bottom: auto;
}


.favorite-projects{
    margin-top: 610px;
}
.project-1, .project-2, .project-3 {display:flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.content{display:flex;
    flex-direction:column;
    margin-top: auto;
    margin-bottom: auto;

}

.head-text{
    display:block;
    padding-top:130px;
    padding-bottom: 60px;
    text-transform: uppercase;
    font-size: 28px;
    color:#808080;
}
.date{
    color:#d5d5d5;
    font-size:15px;
}
.project-name a{
    color:#957B5F;
    text-transform:uppercase;
    text-decoration:none;
    font-family: Arial, sans-serif;
    font-weight:bold;
    font-size:28px;
}
.text{
    color:#D5D5D5;
    font-size:15px; 
}

.watch {
    text-decoration: none;
    color: #D5D5D5;
    margin-top: 60px;
}
.active{
    color: #808080 !important;
}























footer {
    background-color: #000;
    padding-top: 60px;
}

footer h2, footer a, footer p {
    color: #808080;
}

footer h2 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 18px;
}

footer a {
    text-decoration: none;

}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
}


.contact {
    margin-left: 50px;
}

.footer-content {
    display: flex;
    flex-direction: row;
}

.contact-f-c {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}


input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    background-color: #2b2b2b;
    border: none;
    color:white;
}

.form-content {
    display: flex;
    justify-content: space-between;
    
}

.form-content a {
    height: 30px;
    font-size: 15px;
    padding: 8px 15px;
    background:linear-gradient(to bottom, #C6A47E ,#957B5F ) no-repeat;
    padding-top: auto;
    padding-bottom: auto;
    height:30px;
    width:fit-content;
    color: white;
}
.copyright{
    display:flex;
    justify-content: space-between;
    vertical-align: middle;
    margin-bottom: 30px;
    
}
.social-block{
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
}
.copyright p{
    display: block;
    margin-top: auto;
    margin-bottom: 20px;
    word-wrap: break-word;

}
.flexx{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
}
.big-number{
    color: #957B5F;
    font-size: 120px;
}
.wide-date{
    color:#d5d5d5;
    display: block;
    margin-bottom: 35px;
    
    display: block;
    text-align: center;
    
}
.read{
    margin-top: 120px;
    display: block;
    margin-bottom: 140px;
}
.te{
    display: block;
    text-align: center;
}
